/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
:root {
    --green: green;
    --blue: blue;
    --red: red;
}

//Dit werkt blijkbaar niet maar weet niet waarom//

/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/
.greenText {
color: lightgreen;
}
.blueText {
    color: blue;
}
.redText{
    color: red;
}

/*////////////////////////
    2. Media Queries
////////////////////////*/