/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
:root {
    --green: green;
    --blue: blue;
    --red: red;
}

/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/

body {
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    flex-base: 900px;
    gap:12px;
}
.greenText {
color: var(--green);
}
.blueText {
    color: var(--blue);
}
.redText{
    color: var(--red);
}

.saleOverview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap:24px;
}
.saleOverview section{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 240px;
    height: 320px;
}
/* hoofdstuk Best selling */
.bestSelling img{
    width:240px;
    background-color: #ececed;
}
.bestSelling .typeTv {
    font-weight: strong;
    font-size: 18px;
}
.bestSelling {
    border: 1px dashed black;
    background-color: #ececed;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width:800px;
}
.bestSelling .icon {
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
}
.bestSelling .icon img{
    width:11px;
    height: 11px;
}
/* hoofdstuk lijsten voor werknemers */
.listEmployees{
    /*border:2px dashed red;*/
}
/*////////////////////////
    2. Media Queries
////////////////////////*/